## Main Project Notebook

In [145]:
import pandas as pd 
file_path='/Users/home/Desktop/Ironhack/Group Assignment/Project-1111/Apple Stock Data 80-22.csv'
apple_data = pd.read_csv(file_path)
print(apple_data)

             Date        Open        High         Low       Close   Adj Close  \
0      1980-12-12    0.128348    0.128906    0.128348    0.128348    0.100323
1      1980-12-15    0.122210    0.122210    0.121652    0.121652    0.095089
2      1980-12-16    0.113281    0.113281    0.112723    0.112723    0.088110
3      1980-12-17    0.115513    0.116071    0.115513    0.115513    0.090291
4      1980-12-18    0.118862    0.119420    0.118862    0.118862    0.092908
...           ...         ...         ...         ...         ...         ...
10404  2022-03-18  160.509995  164.479996  159.759995  163.979996  163.979996
10405  2022-03-21  163.509995  166.350006  163.009995  165.380005  165.380005
10406  2022-03-22  165.509995  169.419998  164.910004  168.820007  168.820007
10407  2022-03-23  167.990005  172.639999  167.649994  170.210007  170.210007
10408  2022-03-24  171.059998  174.139999  170.210007  174.070007  174.070007

          Volume
0      469033600
1      175884800
2      105728000
3       86441600
4       73449600
...          ...
10404  123351200
10405   95811400
10406   81532000
10407   98062700
10408   90018700

[10409 rows x 7 columns]

In [201]:
file_path_gdp='/Users/home/Desktop/Ironhack/Group Assignment/Project-1111/API_NY/global_gdp_growth_rate.csv'

global_gdp_data = pd.read_csv(file_path_gdp,skiprows=3)  # Try using a semicolon if the file uses it

global_gdp_data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.623626,1.719625,7.048533,2.397085,-2.232440,-26.211821,24.132627,8.517918,4.263719,NaN
1,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,0.468736,7.869709,5.622374,4.690458,5.159574,...,3.004937,2.194761,2.684543,2.666632,2.194319,-2.864293,4.576393,3.553878,2.320138,NaN
2,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,-20.738839,-6.240172,2.710887,NaN
3,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.873054,3.712777,7.111968,5.413943,4.120855,...,2.720365,0.160782,2.289810,2.844755,3.232903,-1.003994,4.037630,3.789680,3.354733,NaN
4,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.943572,-2.580050,-0.147213,-1.316362,-0.702273,-5.638215,1.199211,3.044727,1.001289,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,5.916231,5.571775,4.825656,3.406632,4.756801,-5.340275,10.745656,4.278499,4.067627,NaN
262,"Yemen, Rep.",YEM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-27.994546,-9.375124,-5.071796,0.752448,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,3.844734,6.177931,7.373709,7.939609,6.122798,...,1.321862,0.664552,1.157947,1.556784,0.259936,-6.168918,4.955033,1.911480,0.698485,NaN
264,Zambia,ZMB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.361382,-2.490839,3.272393,12.214048,16.647456,...,2.920375,3.755100,3.525863,4.034494,1.441306,-2.785055,6.234922,5.211224,5.367943,NaN
265,Zimbabwe,ZWE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,6.316157,1.434471,6.244345,-1.106172,4.910571,...,2.023650,0.900955,4.080264,5.009867,-6.332446,-7.816951,8.468017,6.139263,5.336730,NaN

In [203]:
#US_gdp_data=global_gdp_data[global_gdp_data['Data Source']=='United States']
global_gdp_data.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', 'Unnamed: 68'],
      dtype='object')

In [223]:
us_gdp_data = global_gdp_data[global_gdp_data['Country Name'] == 'United States']
us_gdp_data.drop(columns=['Country Code', 'Indicator Name', 'Indicator Code','Unnamed: 68'],inplace=True)
us_gdp_data.fillna('NA')

/var/folders/hv/sgj9c8cn0ql8vfb3lx01lzbr0000gn/T/ipykernel_22093/1729231860.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_gdp_data.drop(columns=['Country Code', 'Indicator Name', 'Indicator Code','Unnamed: 68'],inplace=True)

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
251,United States,NA,2.3,6.1,4.4,5.8,6.4,6.5,2.5,4.8,...,2.52382,2.94555,1.819451,2.457622,2.966505,2.583825,-2.163029,6.055053,2.512375,2.887556